h1, p {
  font-family: Raleway, Arial, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  color: #d8f3dc
}

p {
  font-size: 20px;
  color: #b7e4c7
}

main {
  padding: 60px;
  width: 100vw;
  height: 100vh;
  background-color: #1b4332;
}

div.group-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

div.group-images img{
  max-width: 400px;
  margin: 10px;
  height: auto;
}

div.brand {
  background-color: #081c15;
  padding: 40px;
}